<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <h1><%=title%></h1>
    <ul>
      <%if(locals.user){%>
      <li><%=usernames.map((user) => user.username).join(", ")%></li>
      <%}%>
    </ul>
    <a href="/new"><button>Add User</button></a>
  </body>
</html>
